{% extends 'index.html' %}

{% block title %}All Employees{% endblock %}

{% block main %}
<main>
    <div class="breadcrumb ms-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'HrApp:home_view' %}">Home</a></li>
                <li class="breadcrumb-item">brands</li>
                <li class="breadcrumb-item active">brand details</li>
            </ol>
        </nav>
    </div>
    <!-- Employees -->

    <div class="m-5 justify-content-center align-items-center">
        <div class="d-flex justify-content-between">

            <h3>Highest Sales Employees (Admin only)</h3>
            <a href="" class="text-decoration-none">View More -></a>
        </div>
        <div class="emp-cards d-flex gap-5 pt-5 ">
            <div class="card" style="width: 15rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="{% url 'employee:employee_profile' 1 %}" class="btn btn-primary">Go to profile</a>
                </div>
            </div>
            <div class="card" style="width: 15rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 15rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 15rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}